{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WebMark - Run Webmarks{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
  <main class="full-height-l mt-5">
    <div class='container'>
      <div class='row mt-0'>
        <div class="col-md-12 text-center revise">
            <h3 class="h3-responsive mt-4 font-bold">{{ webmark.name }} Testing</h3>

            <table id="filter" class="t-filter table table-condensed mt-3">
            <tbody>
              <tr>
                <th>WebMark</th>
                  <th>Test Path</th>
                <th>Test Config</th>
                  <th>Unit of Measurement</th>
                <th>Test Duration</th>
              </tr>
              <tr>
                  <td><a href="{{ url_for('main.webmark', id=webmark.id) }}">{{ webmark.name }}</a></td>
                  <td>{{ webmark.test_path }}</td>
                  <td>{{ webmark.config }}</td>
                  <td>{{ webmark.score_measurement_unit }}</td>
                  <td>Up to {{ webmark.duration }} Seconds</td>
              </tr>
            </tbody>
          </table>
            <div class="text-left" id="cpuconfirm">
                <label class="control-label" for="cpu" title="Your CPU Model">Your CPU (e.g. <span class="cpubadge badgecpu"><a href="https://ark.intel.com/#@Processors" title="Intel® Core™ i5-8600K Processor">i5-8600K</a></span> or <span class="cpubadge badgecpu"><a href="https://www.amd.com/en/products/cpu/amd-ryzen-7-1800x" title="AMD Ryzen™ 7 1800X Processor">Ryzen 7 1800X</a></span>):</label>
                <input type="text" class="cpu" name="cpu" id="cpu" value="">
            </div>
            <div class="mt-3 text-left" id="privacy">
                <input class="styled-checkbox" id="privacyck" type="checkbox" value="">
                <label for="privacyck"> I have read the <a href="{{ url_for('main.privacy') }}" title="Privacy Statement">privacy statement</a> and agree to upload my WebMark results to server</label>
            </div>
            <div class="text-left font-italic f-note">
            Please wait for the test duration is completed after clicking the "Start Test" button
            </div>
          <button type="submit" class="btn btn-gradient mt-3 mb-3" id="test">Start Test</button>
    </div>
    </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/hardware/ua-parser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/hardware/webmark-environment.js') }}"></script>
<script>

  var scoreid = null;

  var sit = function() {
      var webmarkenvironment = new WebMarkEnvironment();
      var result = webmarkenvironment.result();
      var osconvert = result.software.os;
      if (osconvert == 'Ubuntu') {
        osconvert = 'Linux';
      } else if (osconvert == 'Mac OS') {
        osconvert = 'MacOS';
      }

      var osversionconvert = result.software.osversion || '';
      if (osconvert == 'Linux' && osversionconvert == '') {
        osversionconvert = 'x86_64';
      }

      if(osconvert == 'MacOS' && (osversionconvert.match(/\./g) || []).length ==2) {
        osv = osversionconvert.split('.');
        osversionconvert = osv[0] + '.' + osv[1];
        console.log(osversionconvert);
      }

      var devicevendor = result.hardware.devicevendor ? result.hardware.devicevendor : 'None'
      var devicemodel = result.hardware.devicemodel ? result.hardware.devicemodel : 'None'
      var devicetype = result.hardware.devicetype ? result.hardware.devicetype : 'None'
      var devicememory = result.hardware.devicememory ? result.hardware.devicememory : 'None'

      var obj = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*',
          'Authorization': 'Basic ' + btoa('{{token}}' + ':')
        },
        body: JSON.stringify({
          'score': '',
          'author_id': {{uid}},
          'webmark_id': {{ webmarkid }},
          'cpu_name': $('#cpu').val() || '',
          'gpu_name': result.hardware.gpu,
          'cpu_architecture': result.hardware.cpuarchitecture || '',
          'cpu_hardware_concurrency': result.hardware.cpuhardwareconcurrency || '',
          'gpu_vender': result.hardware.gpuvender || '',
          'browser_name': result.browser.name || '',
          'browser_version': result.browser.version || '',
          'browser_major': result.browser.major || '',
          'browser_language': result.browser.language || '',
          'browser_engine_name': result.browser.enginename || '',
          'browser_engine_version': result.browser.engineversion || '',
          'browser_ua': result.browser.useragent || '',
          'browser_channel': '',
          'software_os': osconvert,
          'software_os_version': osversionconvert,
          'software_platform': result.software.platform || '',
          'software_timezone': result.software.timezone || '',
          'hardware_device_vendor': devicevendor || '',
          'hardware_device_model': devicemodel || '',
          'hardware_device_type': devicetype || '',
          'hardware_device_memory': devicememory || '',
          'hardware_screen_width': result.hardware.screenwidth,
          'hardware_screen_height': result.hardware.screenheight,
        })
      }

      fetch(location.protocol + '//'+ location.host +'/api/v1/scores/', obj).then(function (res) {
              var json = res.json();
              json.then(function (value) {
                  scoreid = value.score_id;
                  // var webmarkenvironment = new WebMarkEnvironment();
                  // var result = webmarkenvironment.result();
                  // var win = window.open(url, "_blank")
                  // backurl = location.protocol + '//'+ location.host + '/view-browser/?o='+ result.software.os + ' ' + result.software.osversion + '&b='+ result.browser.name + '&wm={{ webmark.name }}'
                  // console.log(backurl)
                  // setTimeout(function () { win.close(); location.href= backurl; }, {{ webmark.duration | int() * 1000 }});
              }, function (error) {
                  console.log(error);
              });
          }).catch(function (e) {
              console.log(e);
      });
  }

    $(document).ready(function() {
      sit();

      if ($('#privacyck').prop('checked')) {
        $('#test').prop('disabled', false);
      } else {
        $('#test').prop('disabled', true);
      }

      $('#privacyck').click(function(){
        if ($('#privacyck').prop('checked')) {
          $('#test').prop('disabled', false)
        } else {
          $('#test').prop('disabled', true)
        }
      });

      $('#test').click(function(){
        url = location.protocol + '//'+ location.host + '{{ webmark.test_path }}?u='+ {{uid}} +'&sid='+ scoreid +'&cpu='+ encodeURIComponent($('#cpu').val()) +'&w='+ {{ webmarkid }} + '&t={{token}}'
        // console.log(scoreid + ' ' + url);
        location.href = url
      });
    });
</script>

{% endblock %}