{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WebMark - Add News for WebMark{% endblock %}

{% block page_content %}

  <main class='custom-gradient reviseform full-height-l mt-3'>
    <div class="container">
      <div class="row justify-content-md-center wow fadeIn" data-wow-delay="0.s">
        <div class="col-md-12">
              <div class="text-center revise">
                {% for message in get_flashed_messages() %}
                <div class="alert mt-5">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
              </div>
              <div class="product-wrapper">
                <h3 class="h3-responsive mt-4 font-bold">Add News/Updates</h3>

                  <div class="form-group ">
                      {{ wtf.quick_form(form) }}
                  </div>

              </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %}