{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WebMark - Review WebMark Proposals{% endblock %}

{% block page_content %}
  <main class='custom-gradient reviseform full-height-l mt-3'>
    <div class="container">
      <div class="row justify-content-md-center wow fadeIn" data-wow-delay="0.2s">
        <div class="col-md-12">
              <div class="product-wrapper">
                <h3 class="h3-responsive mt-4 font-bold">Review WebMark Proposals</h3>
                  <form action="{{ url_for('main.edit_webmark_proposal') }}" method="post">
                 <table id="webmarkproposal" class="table table-striped table-bordered text-center" cellspacing="0">
                  <thead>
                    <tr>
                      <th><i class="fa fa-chrome pros-text"></i> Name</th>
                      <th><i class="fa fa-edge pros-text"></i> Description</th>
                      <th><i class="fa fa-safari pros-text"></i> By</th>
                        <th><i class="fa fa-safari pros-text"></i> Date</th>
                      <th><i class="fa fa-opera pros-text"></i> Reviewed</th>
                        <th><i class="fa fa-opera pros-text"></i> Added</th>
                        <th><i class="fa fa-opera pros-text"></i> Delete </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in webmark_proposal %}
                    <tr>
                        <td >{% if i.url %}<a href="{{i.url }}" title="{{ i.name }}">{{ i.name }}{% else %}{{ i.name }}{% endif %}</a></td>
                          <td class="col-md-auto text-left linebreak">{{i.details }}</td>
                        <td>{{i.email }}</td>
                          <td>{{moment(i.timestamp).format("l") }}</td>
                          <td>{% if i.reviewed %}
                              <input type="radio" name="r{{i.id}}" value="Yes" checked> Yes<br>
                              <input type="radio" name="r{{i.id}}" value="No"> No
                              {% else %}
                              <input type="radio" name="r{{i.id}}" value="Yes"> Yes<br>
                              <input type="radio" name="r{{i.id}}" value="No" checked> No
                              {% endif %}
                               </td>
                          <td>
                              {% if i.added %}
                              <input type="radio" name="a{{i.id}}" value="Yes" checked> Yes<br>
                              <input type="radio" name="a{{i.id}}" value="No"> No
                              {% else %}
                              <input type="radio" name="a{{i.id}}" value="Yes"> Yes<br>
                              <input type="radio" name="a{{i.id}}" value="No" checked> No
                              {% endif %}
                               </td>
                          </td>
                          <td>
                              <input type="checkbox" name="d{{i.id}}" value="Yes">
                          </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                 </table>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}