{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}WebMark{% endblock %}

{% block page_content %}
     <section class="view intro custom-gradient" id='home'>
      <div class="full-bg-img full-height-l">
        <div class="container" id='maintitle'>
          <div class="row align-items-center">
              {% for message in get_flashed_messages() %}
              <div class="col-md-12 text-center">
                <div class="alert mt-5">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
              </div>
              {% endfor %}

            <div class="col text-md-left margins mt-5 white-text">
                <h1 class="white-text font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">WebMark</h1>
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Complete Performance Testing Suite for Browsers and Web Runtimes.
                </h6>
                <br>
                <!--<a class="btn btn-white btn-lg wow fadeInDown" data-wow-delay="0.3s">Run test</a>-->
                <a class="btn btn-outline-white btn-lg wow fadeInDown" data-wow-delay="0.3s" href="{{ url_for('main.webmarks') }}">Learn more</a>
            </div>
            <div class="col-md-6 wow fadeIn text-center mt-5" data-wow-delay="0.3s">
                <div id='fps'></div>
                <div id='fpsscope'></div>
            </div>
          </div>
        </div>
      </div>
    </section>
 <canvas></canvas>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script src="{{ url_for('static', filename='js/fast.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/math.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/CCapture.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
<script>

</script>
{% endblock %}
