{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WebMark - Benchmark{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
  <main class="reviseform comment">
    <div class="container">
      <div class="row mt-lg-5">
        <div class="col-md-12 text-center revise">
          {% for message in get_flashed_messages() %}
          <div class="alert mt-3">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}
        </div>
        <div class="col-lg-7 wow fadeIn" data-wow-delay="0.2s">
          <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/uploads/{{webmark.screenshot_path}}" alt="{{webmark.name}}">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row wow fadeIn" data-wow-delay="0.4s">
            <div class="col-md-12">
              <div class="product-wrapper">
                <h3 class="h3-responsive font-bold">{{webmark.name}}</h3>
                <hr>

                <dl class="row mt-4" id="webmarksummary">
                  <dt class="col-sm-4">Rating</dt>
                  {% if current_user.is_authenticated %}
                    {% if star_num == 0 %}
                    <dd class="col-sm-8">
                      <form action="{{ url_for('main.webmark_vote', id=webmark.id) }}" method="post">
                        <div id="ratingmy" class='star-rating'>
                          <fieldset>
                              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars: Outstanding">5 stars</label>
                              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars: Very Good">4 stars</label>
                              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars: Good">3 stars</label>
                              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars: Poor">2 stars</label>
                              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star: Very Poor">1 star</label>
                          </fieldset>
                        </div>
                      </form>
                    </dd>
                    {% else %}
                    <dd class="col-sm-8">
                      <div id="ratingnow">
                        <i class="star star-under fa fa-star" title="1 star: Very Poor">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="2 stars: Poor">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="3 stars: Good">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="4 stars: Very Good">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="5 stars: Outstanding">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                      </div>
                    </dd>
                    {% endif %}
                  {% else %}
                    <dd class="col-sm-8">
                      <div id="ratingnow">
                        <i class="star star-under fa fa-star" title="1 star: Very Poor">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="2 stars: Poor">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="3 stars: Good">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="4 stars: Very Good">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                        <i class="star star-under fa fa-star" title="5 stars: Outstanding">
                          <i class="star star-over fa fa-star"></i>
                        </i>
                      </div>
                    </dd>
                  {% endif %}

                    {% if webmark.metrics %}
                  <dt class="col-sm-4">Score Metrics</dt>
                  <dd class="col-sm-8"><span class="card-text text-center text-uppercase">{{webmark.metrics}}</span></dd>
                    {% endif %}
                    {% if webmark.version %}
                  <dt class="col-sm-4">Version</dt>
                  <dd class="col-sm-8">{{ webmark.version }}</dd>
                    {% endif %}
                    {% if webmark.license %}
                  <dt class="col-sm-4">License</dt>
                  <dd class="col-sm-8">{{ webmark.license }}</dd>
                    {% endif %}
                    {% if webmark.developed_by %}
                  <dt class="col-sm-4 text-truncate">Developed by</dt>
                  <dd class="col-sm-8">{{ webmark.developed_by }}</dd>
                    {% endif %}
                    {% if webmark.url %}
                  <dt class="col-sm-4">URL</dt>
                  <dd class="col-sm-8 text-truncate"><a href='{{ webmark.url }}'>{{ webmark.url }}</a></dd>
                    {% endif %}
                    {% if webmark.repo_url %}
                  <dt class="col-sm-4">Repo URL</dt>
                  <dd class="col-sm-8 text-truncate"><a href='{{ webmark.repo_url }}'>{{ webmark.repo_url }}</a></dd>
                    {% endif %}

                    {% if webmark.summary %}
                  <dt class="col-sm-4">Summary</dt>
                  <dd class="col-sm-8 text-truncate">{{ webmark.summary }}</dd>
                    {% endif %}

                    {% if tag %}
                  <dt class="col-sm-4">Tags</dt>
                  <dd class="col-sm-8">{% for t in tag %}
                    <a href='tag/{{ t }}'>
                    {{ t }}
                    </a>
                    {% endfor %}
                  </dd>
                    {% endif %}
                </dl>

                <hr>
                <div id="benchmarkdetail" class="float-right">
                 {% if current_user.is_administrator() %}
                  {% if webmark.ready %}
                 <a href="{{ url_for('main.run_webmark', id=webmark.id) }}" class='btn btn-gradient btn-sm d-inline-block' title="Run {{webmark.name}} on your hardware">Run Test</a>
                  <!--<button type='button' class='btn btn-outline-secondary btn-md d-inline-block queue' title="Add {{webmark.name}} to test queue"><i class="fa fa-list-ul"></i></button>-->
                  {% endif %}
                  <!--<button type='button' class='btn btn-outline-secondary btn-md d-inline-block queue' title="Subscribe comments and updates for {{webmark.name}}"><i class="fa fa-paper-plane"></i></button>-->
                  <a href="{{ url_for('main.edit_webmark', id=webmark.id) }}" class='btn btn-outline-secondary btn-md d-inline-block queue' title="Edit WebMark">Edit</a>
                  <a class="btn btn-outline-secondary btn-md d-inline-block" title="Add Comment" href='#panel11'>Add Comment</a>
                {% elif current_user.is_authenticated %}
                  {% if webmark.ready %}
                  <a href="{{ url_for('main.run_webmark', id=webmark.id) }}" class='btn btn-gradient btn-sm d-inline-block' title="Run {{webmark.name}} on your hardware">Run Test</a>
                  <!--<button type='button' class='btn btn-outline-secondary btn-md d-inline-block queue' title="Add {{webmark.name}} to test queue"><i class="fa fa-list-ul"></i></button>-->
                  {% endif %}
                  <!--<a class='btn btn-outline-secondary btn-md d-inline-block' title="Subscribe comments and updates for {{webmark.name}}"><i class="fa fa-paper-plane"></i></a>-->
                  <a class="btn btn-outline-secondary btn-md d-inline-block" title="Add Comment" href='#panel11'>Add Comment</a>
                  {% else %}
                  {% if webmark.ready %}
                  <a class='btn btn-gradient btn-md d-inline-block' href="{{ url_for('auth.login') }}?next=%2Fwebmark" title="Login to run test">Run Test</a>
                  <!--<a class='btn btn-outline-secondary btn-md d-inline-block queue' href="{{ url_for('auth.login') }}?next=%2Fwebmark" title="Login to add test queue"><i class="fa fa-list-ul"></i></a>-->
                  {% endif %}
                  <!--<a class='btn btn-outline-secondary btn-md d-inline-block' href="{{ url_for('auth.login') }}?next=%2Fwebmark" title="Login to subscribe comments and updates for {{webmark.name}}"><i class="fa fa-paper-plane"></i></a>-->
                  <a class="btn btn-outline-secondary btn-md d-inline-block" href='#panel11' title="Add Comment">Add Comment</a>
                {% endif %}
                </div>
              </div>

            </div>
          </div>

        </div>
        <section class="col-12 wow fadeIn" data-wow-delay="0.2s">
            <div class="reviews">
              <h3 class="h3-responsive font-bold">Overview</h3>
            </div>

            <div class=" wow fadeIn" data-wow-delay="0.4s">
              <div class="tabs-wrapper">
                <ul class="nav classic-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link waves-light waves-effect waves-light active show" data-toggle="tab" href="#panel1" role="tab">Description</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12  wow fadeIn" data-wow-delay="0.4s">
              <div class="tab-content col-12 margin-less-left">
                <div class="tab-pane fade mt-3 mb-3 linebreak text-left in show active" id="panel1" role="tabpanel">{{ webmark.details }}
                </div>
              </div>
            </div>
      </section>

        {% if news %}
        <section class="col-12 wow fadeIn" data-wow-delay="0.2s">
        <div class="reviews">
          <h3 class="h3-responsive font-bold">News</h3>
        </div>
        {% if news %}
                <div class="row text-left">
                  {% for n, u in news %}
                    {% if news|length == 1 %}
                      <div class="col">
                      {% if n.url %}
                        {% if n.source %}
                        <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a> by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a></h6>
                          {{ n.details }}
                        {% endif %}
                      {% else %}
                        {% if n.source %}
                          <h6 class="mt-2 pix13">{{n.summary}} by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13">{{n.summary}}</h6>
                          {{ n.details }}
                        {% endif %}
                      {% endif %}
                      <h6 class="mt-2 pix13">Updated by {{ u.username }} at {{ moment(n.timestamp).format("lll") }}</h6>
                      </div>
                    {% elif news|length == 2 %}
                    <div class="col col-md-6">
                      {% if n.url %}
                        {% if n.source %}
                        <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a> by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a></h6>
                          {{ n.details }}
                        {% endif %}
                      {% else %}
                        {% if n.source %}
                          <h6 class="mt-2 pix13">{{n.summary}} by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13">{{n.summary}}</h6>
                          {{ n.details }}
                        {% endif %}
                      {% endif %}
                      <h6 class="mt-2 pix13">Updated by {{ u.username }} at {{ moment(n.timestamp).format("lll") }}</h6>
                      </div>
                    {% elif news|length is divisibleby(4) %}
                    <div class="{{ loop.cycle('odd', 'even') }} col-md-3">
                      {% if n.url %}
                        {% if n.source %}
                        <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a><br> by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a></h6>
                          {{ n.details }}
                        {% endif %}
                      {% else %}
                        {% if n.source %}
                          <h6 class="mt-2 pix13">{{n.summary}} by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13">{{n.summary}}</h6>
                          {{ n.details }}
                        {% endif %}
                      {% endif %}
                      <h6 class="mt-2 pix13">Updated by {{ u.username }} at {{ moment(n.timestamp).format("lll") }}</h6>
                      </div>
                    {% else %}
                    <div class="{{ loop.cycle('odd', 'even') }} col-md-4">
                      {% if n.url %}
                        {% if n.source %}
                        <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a><br> by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13"><a href="{{n.url}}">{{n.summary}}</a></h6>
                          {{ n.details }}
                        {% endif %}
                      {% else %}
                        {% if n.source %}
                          <h6 class="mt-2 pix13">{{n.summary}} by {{ n.source }}</h6>
                          {{ n.details }}
                        {% else %}
                          <h6 class="mt-2 pix13">{{n.summary}}</h6>
                          {{ n.details }}
                        {% endif %}
                      {% endif %}
                      <h6 class="mt-2 pix13">Updated by {{ u.username }} at {{ moment(n.timestamp).format("lll") }}</h6>
                      </div>
                      {% endif %}
                  {% endfor %}

                </div>
         {% endif %}
        </section>

        {% endif %}

        {% if webmark.pros and webmark.cons %}
        <section class="col-12 wow fadeIn" data-wow-delay="0.2s">
        <div class="reviews">
          <h3 class="h3-responsive font-bold">Pros &amp; Cons</h3>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <div class="row mb-2">
              <div class="col-2">
                <i class="fa fa-2x fa-thumbs-up pros-text"></i>
              </div>
              <div class="col-10 text-left">
                <h5 class="font-weight-bold">Pros</h5>
                <p class="grey-text linebreak">{{ webmark.pros }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-2">
              <div class="col-2">
                <i class="fa fa-2x fa-exclamation-circle cons-text"></i>
              </div>
              <div class="col-10 text-left">
                <h5 class="font-weight-bold">Notes</h5>
                <p class="grey-text linebreak">{{ webmark.cons }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
        {% elif webmark.pros or webmark.cons %}
        <section class="col-12 wow fadeIn" data-wow-delay="0.2s">
          <div class="reviews">
            <h3 class="h3-responsive font-bold">Pros &amp; Notes</h3>
          </div>
          <div class="row ">
            <div class="col-md-12">
              <div class="row mb-2">
                <div class="col-2">
                  <i class="fa fa-2x fa-exclamation-circle cons-text"></i>
                </div>
                <div class="col-10 text-left">
                  {% if webmark.pros  %}
                  <h5 class="font-weight-bold">Pros</h5>
                  <p class="grey-text linebreak">{{ webmark.pros }}</p>
                  {% endif %}
                  {% if webmark.cons  %}
                  <h5 class="font-weight-bold">Notes</h5>
                  <p class="grey-text linebreak">{{ webmark.cons }}</p>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </section>
        {% endif %}

        <section class="col-12 wow fadeIn" data-wow-delay="0.2s">
        <div class="reviews">
          <h3 class="h3-responsive font-bold">Reviews</h3>
        </div>

          <div class="tabs-wrapper">
            <ul class="nav classic-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link waves-light waves-effect waves-light active show" data-toggle="tab" href="#panel11" role="tab">Add Comment</a>
              </li>
              {% if results %}
              <li class="nav-item">
                <a class="nav-link waves-light" data-toggle="tab" href="#panel12" role="tab">Comments</a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="col-12  wow fadeIn" data-wow-delay="0.2s">
            <div class="tab-content col-12 margin-less-left">
              <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
                <div class="md-form mt-0">
                  {% if current_user.is_authenticated %}
                  {{ wtf.quick_form(form) }}
                  {% else %}
                    <a class="d-inline-block mt-3" href="{{ url_for('auth.login') }}?next=%2Fwebmark%2F{{webmark.id}}" title="Login to add comment">Login to add comment</a>
                  {% endif %}
                </div>
              </div>
              {% if results %}
              <div class="tab-pane fade" id="panel12" role="tabpanel">
              {% for c, u in results %}
                <div class="media {{ loop.cycle('odd', 'even') }}">
                  <div class="media-body">
                    <div id="rating-id-{{loop.index0}}" class="mb-2">
                   <i class="star star-under fa fa-star" title="1 star: Very Poor">
                        <i class="star star-over fa fa-star"></i>
                      </i>
                      <i class="star star-under fa fa-star" title="2 stars: Poor">
                        <i class="star star-over fa fa-star"></i>
                      </i>
                      <i class="star star-under fa fa-star" title="3 stars: Good">
                        <i class="star star-over fa fa-star"></i>
                      </i>
                      <i class="star star-under fa fa-star" title="4 stars: Very Good">
                        <i class="star star-over fa fa-star"></i>
                      </i>
                      <i class="star star-under fa fa-star" title="5 stars: Outstanding">
                        <i class="star star-over fa fa-star"></i>
                      </i>
                    </div>
                    <p class="mb-2 linebreak text-left">{{ c.body }}</p>
                    {% if current_user.is_administrator() %}
                    <form class="delete-comment" action="{{ url_for('main.webmark_comment_delete') }}" method="post">
                      <input type="radio" name="webmark_id" value="{{webmark.id}}" checked style="display:none">
                      <input type="radio" name="comment_id" value="{{c.id}}" checked style="display:none">
                      <h6 class="mt-2 pix13">{{ moment(c.timestamp).format("lll") }} by {{ u.username }} <button type="submit" class="fa fa-trash float-right"></button></h6>
                    </form>
                    {% else %}
                    <h6 class="mt-2 pix13">{{ moment(c.timestamp).format("lll") }} by {{ u.username }}</h6>
                    {% endif %}

                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
      </section>
    </div>
  </main>

{% endblock %}

{% block scripts %}
{{ super() }}
  <script>
    $('input[type=radio]').on('change', function() {
        $(this).closest("form").submit();
    });
  </script>
  <script>
    const ratingnow = {{ webmark.rating_avg | float() }};

    const rating = [{% for c, u in results %}{% for r in ratings %}{% if r.author_id == c.author_id %}{{r.star}},{% else %}{% endif %}{% endfor %}{% endfor %}]
    rateStyleJQ(ratingnow, 'ratingnow');

    for (let i in rating) {
      rateStyleJQ(rating[i], 'rating-id-' + i)
    }

    function rateStyleJQ(num, divID) {
      var ratingRounded = Math.floor(num);
      $("#" + divID + " .star-over").slice(0, ratingRounded).addClass('star-visible');
      var partialShade = Math.round((num - ratingRounded) * 100);
      if (partialShade != 0) {
        $($("#" + divID + " .star-over").get(ratingRounded)).addClass('star-visible').css("width", partialShade + "%");
      }
    }
  </script>
{% endblock %}

