{% extends "base.html" %}

{% block title %}WebMark - About Us{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
  <main class="full-height-l mt-5">
    <div class='container'>
      <div class='row mt-0'>
        <div class="col-md-12 text-center revise">
            <h3 class="h3-responsive mt-1 font-bold">About Us</h3>
            <hr>
            <div class="text-right">Last Updated: April 2018</div>
            <div class="text-left mt-2">
                 <i class="fa fa-cloud"></i> We cannot imagine a world without the web, and WebMark is always showing the latest status of the web.
                 <br><br><i class="fa fa-user-plus"></i> We are Webmark team. :)
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}

