{% extends "base.html" %}

{% block title %}WebMark - Privacy Statement{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
  <main class="full-height-l mt-5">
    <div class='container'>
      <div class='row mt-0'>
        <div class="col-md-12 text-center revise">
            <h3 class="h3-responsive mt-1 font-bold">Privacy Statement</h3>
            <hr>
            <div class="text-right">Last Updated: April 2018</div>
            <div class="text-left mt-2">
                Your privacy is important to us. This privacy statement explains what personal data we collect from you, and how we use that data.
            </div>
            <div class="text-left" id="privacycontent">
                  <div class="privacyul">
                <h6 class="h6-responsive">Date We Collect</h6>
                    <div class='row'>
                        <ul class="col col-md-6">
                            <li><i class="fa fa-star"></i> Webmark: Test scores</li>
                            <li><i class="fa fa-star"></i> Hardware: CPU, GPU, Screen Size</li>
                        </ul>
                        <ul class="col col-md-6">
                            <li><i class="fa fa-star"></i> Software: Operating System, Browser</li>
                            <li><i class="fa fa-star"></i> Personal: Email</li>
                        </ul>
                    </div>
            </div>
                                <div class="text-left font-italic f-note pl-3 pb-1">
            Webmark testing highly depend on hardware performance, screen size, OS and browser, providing this information can help understanding Webmark trends.
            </div>
                <div class="privacyul">
             <h6 class="h6-responsive">Data We Do Not Collect</h6>
                   <div class='row'>
                        <ul class="col col-md-6">
                            <li><i class="fa fa-check-circle"></i> Device locations: GPS, Bluetooth, or WiFi signals</li>
                            <li><i class="fa fa-check-circle"></i> Connection info: ISP, phone number or IP address</li>
                        </ul>
                        <ul class="col col-md-6">
                            <li><i class="fa fa-check-circle"></i> Any other personal data</li>
                        </ul>
                    </div>
                </div>

            <div class="privacyul">
                <h6 class="h6-responsive">How We Use Personal Data</h6>
                   <div class='row'>
                        <ul class="col col-md-12">
                            <li> We use the data we collect to provide you the service we offer, which includes sending Webmark updates or comments to your email address when you subscribe them. </li>
                       </ul>
                    </div>
            </div>


             <div class="privacyul">
                <h6 class="h6-responsive">Cookies & Similar Technologies</h6>
                   <div class='row'>
                        <ul class="col col-md-6">
                            <li><i class="fa fa-check-circle"></i> We don't use Cookies and similar technologies</li>
                       </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}

