{% extends "base.html" %}

{% block title %}WebMark - Terms of Use{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block page_content %}
  <main class="full-height-l mt-5">
    <div class='container'>
      <div class='row mt-0'>
        <div class="col-md-12 text-center revise">
            <h3 class="h3-responsive mt-1 font-bold">Terms of Use</h3>
            <hr>
            <div class="text-right">Last Updated: April 2018</div>
            <div class="text-left mt-2">
                The services that Webmark provides to you are subject to the following Terms of Use ("TOU").
            </div>
            <div class="text-left" id="privacycontent">
                  <div class="privacyul">
                <h6 class="h6-responsive">Description of Services</h6>
                    <div class='row'>
                        <ul class="col col-md-12">
                            <li><i class="fa fa-check-circle"></i> The Services, including any updates, enhancements, new features, and/or the addition of any new Web properties, are subject to the TOU.</li>
                        </ul>
                    </div>
            </div>
                <div class="privacyul">
             <h6 class="h6-responsive">Personal and Non-Commercial Use Limitation</h6>
                   <div class='row'>
                        <ul class="col col-md-12">
                            <li><i class="fa fa-check-circle"></i> Unless otherwise specified, the Services are for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Services.</li>
                        </ul>
                    </div>
                </div>

            <div class="privacyul">
                <h6 class="h6-responsive">No Unlawful or Prohibited Use</h6>
                   <div class='row'>
                        <ul class="col col-md-12">
                            <li><i class="fa fa-check-circle"></i> You will not use the Services for any purpose that is unlawful or prohibited by these terms, conditions, and notices. </li>
                       </ul>
                    </div>
            </div>

             <div class="privacyul">
                <h6 class="h6-responsive">Note</h6>
                   <div class='row'>
                        <ul class="col col-md-12">
                            <li><i class="fa fa-check-circle"></i> We reserve the right of final explanations.</li>
                       </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}

